.table{
  tbody{
    img{
      width: 20%;
    }
  }
}

.card{
  margin: .5%;

}

.rotate{
  transition: all .7s;
  transition-timing-function: linear;
  &:hover{
    transform: rotateY(360deg);
  }
}
