body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: grey;
  }

.choices p{
  display: inline;
  padding-left: 30px;
}


/* for(let i = 0 ; i<questions.length;i++){
  if(active_flag){
      active_flag = false;
      $("#quiz-area").append('<div class="col-8 carousel-inner carousel-item active" role="listbox">');
  }else{
      $("#quiz-area").append('<div class="col-8 carousel-inner carousel-item" role="listbox">');
  }
  $("#quiz-area").append('<header><p class="lead">'+ questions[i].question +'</p></header>');
  // if(element['img-url'] != ""){
  //     $("#quiz-area").append('<img >Image goes here</header>');
  // }
  $('#quiz-area').append('<section class="options">'+
  '<h3>Options</h3><hr>'+
  '<div class="choices">');
  for(let j=0; j<questions[i].options.length;j++){
      $('#quiz-area').append('<div class="choice">'+
      '<input type="radio" name="qustion'+questions[i].id+'" id="'+questions[i].id+'" value="'+questions[i].options[j]+'"><p>'+questions[i].options[j]+'</p>'+
      '</div>');
  };
  $('#quiz-area').append('</div></section></div>'+
  '<div class="col-12 text-center">'+
  '<a class="" href="#carouselId" role="button" data-slide="prev">'+
  '<button type="button" class="btn btn-success">Previous</button>'+
  '<span class="sr-only">Previous</span>'+
  '</a>'); 
}; */