<section id="active-order">
  <div class="container">
    <div class="jumbotron" >
      <div class="container">
      <mat-card class="pt-2 m-4 mt-0 mat-card-content max-width mx-auto">
      <mat-horizontal-stepper labelPosition="bottom">
        <mat-step label="Accepted By Restaurant" state="accepted">
          <div class="text-center">
            <img src="../../../assets/images/accepted-by-restaurant.png" alt="">
            <span class="ml-3">Yeah Somebody Responded!</span>
          </div>
        </mat-step>
        <mat-step label="Food is being Prepaired" state="prepared">
          <div class="text-center">
            <img src="../../../assets/images/prepared.png" alt="" class="stepper-img">
            <span class="ml-3">Your delicacy is being cooked!</span>
          </div>
        </mat-step>
        <mat-step label="Picked-Up" state="picked">
          <div class="text-center">
            <img src="../../../assets/images/picked.png" alt="" class="stepper-img">
            <span class="ml-3">Wohooo! Our Delivery Executive picked your order.</span>
          </div>
        </mat-step>
        <mat-step label="Out-for-Delivery" state="out">
          <div class="text-center">
            <img src="../../../assets/images/out-for-delivery.png" alt="" class="stepper-img">
            <span class="ml-3">Brace yourself it's on the way!</span>
          </div>
        </mat-step>

        <!-- Icon overrides. -->
        <ng-template matStepperIcon="phone">
          <mat-icon>call_end</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="chat">
          <mat-icon>forum</mat-icon>
        </ng-template>
      </mat-horizontal-stepper>
      <div class="row">
        <div class="col-3">
          <img src="../../../assets/images/carousel1.jpg" alt="" class="restaurant-img">
        </div>
        <div class="col-9">
          <div class="row justify-content-between">
            <div class="col-xs-1-12 pl-5 pt-3 lead">
              Restaurant's Name
            </div>
          </div>
          <div class="row ">
            <p class="pl-5">Locality</p>
          </div>
          <div class="row mt-2">
            <p class="pl-5 font-weight-bold"><span class="symbol">₹</span> 500</p>
          </div>
        </div>
      </div>
      <hr class="dotted">
      <div class="row mt-2">
        <p class="pl-5 mb-0 pb-0">Food Item<span class="symbol"> x </span> 50</p>
      </div>
      <div class="row pt-1 text-muted">
        <p class="pl-5">April 10th, 11:11</p>
      </div>

      <mat-card-actions class="text-right p-4">
        <button mat-stroked-button>Repeat Order</button>
      </mat-card-actions>
    </mat-card>

      </div>
    </div>
  </div>
  </section>

<section id="past-orders">
  <div class="container">
    <p class="display-4 theme-color pt-5 heading">Past Orders</p>
  <div class="jumbotron" >
    <div class="container">
    <mat-card class="pt-2 m-4 mt-0 mat-card-content max-width mx-auto">
      <div class="row">
        <div class="col-3">
          <img src="../../../assets/images/carousel1.jpg" alt="" class="restaurant-img">
        </div>
        <div class="col-9">
          <div class="row justify-content-between">
            <div class="col-xs-1-12 pl-5 pt-3 lead">
              Restaurant's Name
            </div>
            <div class="col-xs-1-12 pr-5 pt-2">
              <div class="row">
                <span class="pt-2 pr-2 font-weight-bold">
                  Delivered
                </span>
                <span>
                  <mat-icon class="text-success pt-1">check_circle</mat-icon>
                </span>
              </div>
            </div>
          </div>
          <div class="row ">
            <p class="pl-5">Locality</p>
          </div>
          <div class="row mt-2">
            <p class="pl-5 font-weight-bold"><span class="symbol">₹</span> 500</p>
          </div>
        </div>
      </div>
      <hr class="dotted">
      <div class="row mt-2">
        <p class="pl-5 mb-0 pb-0">Food Item<span class="symbol"> x </span> 50</p>
      </div>
      <div class="row pt-1 text-muted">
        <p class="pl-5">April 10th, 11:11</p>
      </div>

      <mat-card-actions class="text-right p-4">
        <button mat-stroked-button>Repeat Order</button>
      </mat-card-actions>
    </mat-card>
    </div>
  </div>
  </div>
  <ng-template #noRecent>
    <div class="jumbotron">
      <div class="max-width mx-auto">
        <h1 class="display-3">No Orders</h1>
        <p class="lead">Start Ordering!</p>
        <hr class="my-2">
        <p>Thanks for being our valuable Customer</p>
      </div>
    </div>
  </ng-template>
</section>

